.subscribed { 
  color:lightcoral;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.priceUp {
  color:lightgreen;
  padding: 10px 15px;
}

.priceDown { 
  color:lightcoral;
  padding: 10px 15px;
}
.priceSame { 
  color:black;
  padding: 10px 15px;
}